@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMMProfile?;
@{
    Layout = null;
}
@* MODAL UBAH PASSWORD PERTAMA *@
<div class="card-body" id="modal-check-pw1">
    <form id="frm-update-password" >
        
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="ModifiedBy" value="@Context.Session.GetInt32("custId")" />
        <p class="fs-5 text-success">Masukan password anda saat ini!</p>
        <div class="mb-3">
            <label class="fs-5 mb-1 mx-1">Password</label>
            <div class="d-flex justify-content-end align-items-center">
                <input type="password" class="border-0 rounded-0 border-bottom border-success form-control" data-pw="@Model.Password" name="Password" id="inputPassword" required/>
                <button id="click-see-2" class="click-see z-index-1 position-absolute bg-white border-0 text-success" data-id="inputPassword" data-icons="eye-icon-1" onclick="seeIcons(id)">
                    <i id="eye-icon-1" class="fa-regular fa-eye"></i>
                </button>
            </div>
            <div id="err-pw"></div>
        </div>
        <div class="mb-3">
            <label class="fs-5 mb-1 mx-1">Masukan ulang password</label>
            <div class="d-flex justify-content-end align-items-center">
                <input type="password" class="border-0 rounded-0 border-bottom border-success form-control" name="PasswordConfirm" id="inputPassword2" required>
                <button id="click-see-3" class="click-see z-index-1 position-absolute bg-white border-0 text-success" data-id="inputPassword2" data-icons="eye-icon-2" onclick="seeIcons(id)">
                    <i id="eye-icon-2" class="fa-regular fa-eye"></i>
                </button>
            </div>
            <div id="err-pw2"></div>
        </div>
    </form>
    
    <div id="errorContainer1" class="fst-italic text-danger"></div>
    <div class="d-flex justify-content-end mt-5">
        <button type="button" class="input-group-text btn border-danger text-danger mx-3" id="btnCancelPW" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i>  Batal</button>
        <button type="submit" class="input-group-text btn btn-success" id="btnSubmitPW"><i class="fa-solid fa-floppy-disk"></i>  Ubah</button>
        <button class="btn btn-success" type="button" id="btnLoadingPW" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
    </div>
</div>


@* MODAL UBAH PASSWORD KEDUA *@
<div class="card-body d-none" id="modal-check-pw2">
    <form id="frm-update-password2">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="ModifiedBy" value="2" />
        <p class="fs-5 text-success">Masukan password <span class="fw-bold">BARU</span> anda</p>

        <div class="mb-3">
            <label class="fs-5 mb-1 mx-1">Password</label>
            <div class="d-flex justify-content-end align-items-center">
                <input type="text" class="border-0 rounded-0 border-bottom border-success form-control" name="Password" id="inputPassword3" required>
                <button id="click-see-4" class="click-see z-index-1 position-absolute bg-white border-0 text-success" data-id="inputPassword3" data-icons="eye-icon-3" onclick="seeIcons(id)">
                    <i id="eye-icon-3" class="fa-regular fa-eye"></i>
                </button>
            </div>
            <div id="err-pw3"></div>
        </div>

        <div class="mb-3">
            <label class="fs-5 mb-1 mx-1">Masukan ulang password</label>
            <div class="d-flex justify-content-end align-items-center">
                <input type="text" class="border-0 rounded-0 border-bottom border-success form-control" name="PasswordConfirm" id="inputPassword4" required>
                <button id="click-see-5" class="click-see z-index-1 position-absolute bg-white border-0 text-success" data-id="inputPassword4" data-icons="eye-icon-4" onclick="seeIcons(id)">
                    <i id="eye-icon-4" class="fa-regular fa-eye"></i>
                </button>
            </div>
            <div id="err-pw4"></div>
        </div>
    </form>
    
    <div id="errorContainer2" class="fst-italic text-danger d-none">

    </div>
    <div class="d-flex justify-content-end mt-5">
        <button type="button" class="input-group-text btn border-danger text-danger mx-3" id="btnCancelPW1" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i>  Batal</button>
        <button type="submit" class="input-group-text btn btn-success" id="btnSubmitPW1"><i class="fa-solid fa-floppy-disk"></i>  Ubah</button>
        <button class="btn btn-success" type="button" id="btnLoadingPW1" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
    </div>
</div>


@* MODAL KETIKA SUCCESS *@
<div id="modal-pw-result" class="d-none">
    <p>Password berhasil diubah. Silahkan masuk kembali menggunakan Password yang baru!</p>
</div>

<script>
    $("#staticModalLabelE").html("@ViewBag.Title");

    $("#btnLoadingPW").hide();
    
    // SEE ICON INPUT PASSWORD
    function seeIcons(s){
        event.preventDefault();
        console.log(s);
        var idButton = $('#' + s).data("id");
        var eyeIcon = $("#"+$("#" + s).data("icons"));
        // debugger;
        var newidButton = $("#" + idButton);
        console.log(idButton);
        console.log(newidButton);


        if (newidButton.attr("type") == "password") {
            newidButton.attr("type", "text");
            eyeIcon.removeClass("fa-eye");
            eyeIcon.addClass("fa-eye-slash");
        }
        else {
            newidButton.attr("type", "password");
            eyeIcon.removeClass("fa-eye-slash");
            eyeIcon.addClass("fa-eye");
        }
    };

    $.validator.addMethod("strongPassword",
        function (value, el) {
            return (/^(?=.*[!@@#$%^&*\/])(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(.{8,20})$/.test(value));
        },
        function (chkRes, el) {
            let pass = $(el).val();
            // console.log(pass);
            let txtAlert = "";
            if (!(/^(?=.*[!@@#$%^&*.\\/])/.test(pass))) {
                txtAlert += `<p class="m-0 text-danger"> *Password harus mengandung setidaknya 1 karakter simbol (!@@#$%^&*.\\/)</p> `;
            }
            if (!(/^(?=.*[0-9])/.test(pass))) {
                txtAlert += `<p class="m-0 text-danger"> *Password harus mengandung setidaknya 1 angka [0-9] </p> `;
            }
            if (!(/^(?=.*[a-z])/.test(pass))) {
                txtAlert += `<p class="m-0 text-danger" > *Password harus mengandung setidaknya 1 huruf kecil[a - z] </p> `;
            }
            if (!(/^(?=.*[A-Z])/.test(pass))) {
                txtAlert += `<p class="m-0 text-danger"> *Password harus mengandung setidaknya 1 huruf besar [A-Z] </p> `;
            }
            if (!(/^(.{8,20})$/.test(pass))) {
                txtAlert += `<p class="m-0 text-danger" > *Password harus memiliki panjang 8 sampai 20 karakter</p>`;
            }

            if (txtAlert == "") {
                return false;
            }
            else {
                return txtAlert;
            }
        }
    );  

    $("#frm-update-password").validate({
        errorClass: "text-danger fst-italic",
        errorPlacement: function (error, element) {
            if (element.attr("name") == "Password")
                error.insertAfter("#err-pw");
            else if (element.attr("name") == "PasswordConfirm")
                error.insertAfter("#err-pw2");
            else
                error.insertAfter(element);
        },
        rules: {
            PasswordConfirm: {
                "equalTo": "#inputPassword"
            }
        },
        messages: {
            Password: {
                "required": "*Password harus diisi!"
                // "minlength": "Customer Password must be at least 8 characters",
            },
            PasswordConfirm: {
                "required": "*Konfirmasi Password harus diisi!",
                "equalTo":"*Konfirmasi Password tidak sama dengan Password!"
            },
        }
    });

    $("#frm-update-password2").validate({
        errorClass: "text-danger fst-italic",
        errorPlacement: function (error, element) {
            if (element.attr("name") == "Password")
                error.insertAfter("#err-pw3");
            else if (element.attr("name") == "PasswordConfirm")
                error.insertAfter("#err-pw4");
            else
                error.insertAfter(element);
        },
        rules: {
            Password: {
                "strongPassword": true
            },
            PasswordConfirm: {
                "equalTo": "#inputPassword3"
            }
        },
        messages: {
            Password: {
                "required": "*Password Baru harus diis!"
                // "minlength": "New Password must be at least 8 characters",
            },
            PasswordConfirm: {
                "required": "*Konfirmasi Password Baru harus diisi!",
                "equalTo": "*Konfirmasi Password Baru tidak sama dengan Password Baru!"
            },
        }
    });

    //mendapatkan password saat ini
    var pw1 = $("#inputPassword").data("pw");
    
    //CEK PW SAMA DENGAN PW AKUN ATAU TIDAK
    $("#btnSubmitPW").click(function (e) {
        $("#errorContainer1").addClass('d-none');
        event.preventDefault();
        if ($("#frm-update-password").valid()) {
            var pw = $("#inputPassword").val();
            
            console.log(pw);
            console.log(pw1);
            if (pw == pw1) {
                console.log("password sama");
                $("#btnLoadingPW1").hide();
                $("#modal-check-pw2").removeClass('d-none');
                $("#modal-check-pw1").addClass('d-none');
            }
            else{
                $("#errorContainer1").removeClass('d-none');
                $("#errorContainer1").text("*Password tidak sesuai dengan Password saat ini!");
            }
        }
    });

    //CEK PW NEW SAMA DENGAN PW AKUN SAAT INI ATAU TIDAK
    $("#btnSubmitPW1").click(function (e) {
        $("#errorContainer2").addClass("d-none");
        event.preventDefault();
        if ($("#frm-update-password2").valid()) {
            // console.log("password berhasil update");

            var pwNew = $("#inputPassword3").val();

            if(pw1 == pwNew){
                $("#errorContainer2").removeClass("d-none");
                $("#errorContainer2").text("*Password tidak boleh sama dengan password saat ini!");
            }
            else{
                $("#errorContainer2").addClass("d-none");
                $.ajax({
                    url: "/Profile/UpdatePassword",
                    type: "post",
                    dataType: "json",
                    data: $("#frm-update-password2").serialize(),
                    beforeSend: () => {

                    },
                    success: function (response) {
                        if (response.statusCode == 200) {
                            console.log("updated password");
                            $("#modal-pw-result").removeClass('d-none');
                            $("#modal-check-pw2").addClass('d-none');
                            // debugger;
                            setTimeout(
                                function (e) {
                                    location.replace('/Profile/Logout');
                                }, 3000
                            );
                            // location.reload();

                        }
                        else {
                            debugger;
                        }
                    },
                    error: function (errResponse) {

                    }
                })
            }
            
            
        }
    })
</script>