@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BATCH336B.ViewModel
@model Pagination<VMMCourier>
@{
    Layout = "_Layout_S";
}

<div class="card">
    <div class="card-header h3">Courier</div>
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <button type="button" class="btn btn-success mb-3" title="add..." data-bs-toggle="modal" data-bs-target="#staticModal">
                <i class="Tambah fa-solid fa-plus"></i>
            </button>

            <form class="w-50" id="frmfilter" asp-controller="Courier" asp-action="Index">
                <div class="input-group">
                    <input id="filter" name="filter" type="text" class="form-control" placeholder="Search By Name"
                           aria-label="Nama" aria-describedby="iSearch" value="@ViewBag.filter" />
                    <button typeof="submit" class="btn btn-secondary input-group-text" id="basic-addon2">
                        <i class="fa-solid fa-search"></i>
                    </button>
                </div>
            </form>

        </div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th class="col-2">Id</th>
                    <th class="col-6">Nama</th>
                    <th class="col-3 text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (VMMCourier data in Model)
                    {
                        <tr>
                            <td class="col-1">@data.Id</td>
                            <td class="col-3">@data.Nama</td>
                            <td class="col-2 text-center">
                                <div class="btn-group">
                                    <button class="btn btn-warning" id="btnEdit" title="edit..." data-id="@data.Id" data-bs-toggle="modal" data-bs-target="#staticModal">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button class="btn btn-danger" title="delete..." data-id="@data.Id" data-bs-toggle="modal" data-bs-target="#staticModal">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center"> --Tidak Ada Data-- </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between">

        <div class="input-group w-25">
            <a class="btn btn-secondary col-2 @(Model.PageIndex <= 1 ? "disabled" : "")" title="Previous Page..."
               asp-controller="Courier" asp-action="Index"
               asp-route-filter="@ViewBag.Filter"
               asp-route-orderBy="@ViewBag.OrderBy"
               asp-route-pageNumber="@(Model.PageIndex <= 1 ? Model.PageIndex : Model.PageIndex-1)">
                <i class="fas fa-backward"></i>
            </a>
            @*<input class="input-group-text col-8" value="Page @Model.PageIndex of @Model.TotalPages" readonly />*@
            <div class="input-group-text text-center col-8">
                <span class="w-100">Page @Model.PageIndex of @Model.TotalPages</span>
            </div>
            <a class="btn btn-secondary col-2 @(Model.PageIndex >= Model.TotalPages ? "disabled" : "")" title="Next Page..."
               asp-controller="Courier" asp-action="Index"
               asp-route-filter="@ViewBag.Filter"
               asp-route-orderBy="@ViewBag.OrderBy"
               asp-route-pageNumber="@(Model.PageIndex >= Model.TotalPages ? Model.PageIndex : Model.PageIndex+1)">
                <i class="fas fa-forward"></i>
            </a>
        </div>
    </div>
</div>

<script>
    $(".btn-success").click(function (event) {
        $("#staticModalBody").load('/Courier/Add/');
    });


    $(".btn-warning").click(function (event) {
        let catId = $(this).data("id");
        $("#staticModalBody").load('/Courier/Edit/' + catId);
    });

    $(".btn-danger").click(function (event) {
        let catId = $(this).data("id");
        $("#staticModalBody").load('/Courier/Delete/' + catId);
    });

</script>
